<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./styles/cards.css">
  <link rel="shortcut icon" href="./styles/assets/bull-side-view-black-animal-shape.png" type="image/x-icon">
  <title>Account</title>
</head>

<body>
  <div id="app" v-cloak>
    <header class="bg-black bg-opacity-50  sticky-top">
      <nav class="navbar navbar-expand navbar-dark d-flex justify-content-around ">
        <div class="d-flex align-items-center">
          <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"><i class="bi bi-list"></i></button>
          <a class="navbar-brand ps-3 h2 cursive" href="#">Mindhub Brothers Bank</a>
        </div>
      </nav>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasScrolling"
        aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title font1 text-black h3" id="offcanvasScrollingLabel">MindHub BB</h5>
          <img src="./styles/assets/bull-side-view-black-animal-shape.png" alt="" class="logo1">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column align-items-center">
          <a class="list-group-item list-group-item-action list-group-item-light navborder  p-3" href="./accounts.html"><img
              src="./videos/bancoNav.gif" class="imgnav" alt=""> Accounts</a>
          <a class="list-group-item list-group-item-action list-group-item-light navborder  p-3"
            href="./cards.html"><img src="./videos/tarjeta-de-creditoNav.gif" class="imgnav" alt="">Cards</a>
          <a class="list-group-item list-group-item-action list-group-item-light navborder p-3"
            href="./transfers.html"><img src="./videos/intercambioNav.gif" class="imgnav" alt=""> Transfers</a>
          <a class="list-group-item list-group-item-action list-group-item-light navborder p-3"
            href="./loan-application.html"><img src="./videos/bolsa-de-dineroNAV.gif" class="imgnav" alt="">Loans
            Application</a>
          <a class="list-group-item list-group-item-action list-group-item-light navborder p-3"
            href="./payments.html"><img src="./videos/pago-por-clicNAV.gif" class="imgnav" alt=""> Payments</a>
          <a v-show="email == 'admin@mindhub.com'"
            class="list-group-item list-group-item-action list-group-item-light btn navborder m-3 p-3"
            href="./createLoan.html"><img src="./videos/coheteNav.gif" class="imgnav" alt=""> Create Loan </a>
          <form class="w-50 m-2" @submit.prevent="logout">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        </div>
      </div>
    </header>

    <main class="d-flex flex-column justify-content-center bg-black bg-opacity-50 shadow p-3">
      <div class="m-5 ">
        <h1 class="font h1 text-center text-light bg-black bg-opacity-50 shadow p-3 border-bottom ">Transactions</h1>
      </div>
      <table class="table table-striped table-hover bg-body " v-if="transactions != 0">
        <thead>
          <tr>
            <th scope="col">TYPE</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">DATE</th>
            <th scope="col">BALANCE</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="transaction in transactions">
            <th scope="row">{{transaction.type}}</th>
            <td v-if="transaction.type == 'DEBIT'" class="list-group-item text-bg-danger">
              {{newNumber(transaction.amount)}}</td>
            <td v-else-if="transaction.type == 'CREDIT'" class="list-group-item text-bg-success">
              {{newNumber(transaction.amount)}}
            </td>
            <td>{{transaction.description}}</td>
            <td>{{newDate(transaction.date)}}</td>
            <td>{{newNumber(transaction.balance)}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table bg-body" v-else>
        <thead>
          <tr>
            <th scope="col">TYPE</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No Transactions</td>
          </tr>
        </tbody>
      </table>

      <div class="bg-body  d-md-flex  d-lg-flex d-xl-flex d-xxl-flex justify-content-around align-items-center font">
        <div>
          <h3>Download transaction details</h3>
        </div>
        <div>
          <label>Front Date:</label>
          <input type="datetime-local" v-model="fromDate" required>
        </div>
        <div>
          <label>To Date:</label>
          <input type="datetime-local" v-model="toDate" required>
        </div>
      <button type="button" class="btn btn-primary m-3" @click="newPdf">
        Download
      </button>
    </div>
    </main>
    
    <footer class="bg-black bg-opacity-50 d-flex justify-content-around align-items-center">
     <!--    <ul class="d-flex gap-3">
          <li><a href="https://www.facebook.com"><img class="logoFooter" src="./assets/facebookFooter.png" alt=""></a></li>
          <li><a href="https://www.instagram.com"><img class="logoFooter"  src="./assets/instagramFooter.png" alt=""></a></li>
          <li><a href="https://www.whatsapp.com"><img class="logoFooter"  src="./assets/whatsappFooter.png" alt=""></a></li>
        </ul>
      </div>
      <div class="font3"><h5>HOMEBANKING APPLICATION BY MATIAS SEGOVIA</h5></div> -->
  </footer>
  </div>
  <!-- BOOSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
   <!--  AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- SWEETALERT -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- VUE JS -->
  <script src="https://unpkg.com/vue@3"></script>
    <!-- JAVASCRIPT -->
  <script src="./scripts/account.js"></script>
</body>

</html>